DATABASE_URL="postgresql://neondb_owner:npg_RHo4Cr9IyUta@ep-gentle-moon-a4qau9yl.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="my-super-secret-jwt-key-32-chars-long-abc123"
BLOB_READ_WRITE_TOKEN="your-vercel-blob-token"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
